.container input {
  padding: 10px 10px;
  border-radius: var(--app-border-radius-1);
  background-color: #fafafa;
  color: #838181;
}

@media screen and (min-width: 400px) {
  .container input {
    padding: 10px 20px;
  }
}

.container input:focus {
  outline: none;
}
