.container {
  position: relative;
}

.container input {
  width: 100%;
  padding: 10px 10px;
  border-radius: var(--app-border-radius-sm);
  background-color: #fafafa;
  color: #838181;
  min-height: 46px;
}

@media screen and (min-width: 400px) {
  .container input {
    padding: 10px 20px;
  }
}

.container input:focus {
  outline: none;
}

.container.error input {
  outline: 2px solid red;
}

.error-message {
  position: absolute;
  margin-top: 3px;
  color: red;
  font-size: 0.8rem;
}
