.container {
  padding: 20px 50px;
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 20px;
}

.image {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
}


@media screen and (max-width: 400px) {
  .container{
    height: 219px !important;
    width: 90% !important;
  }

  .image > img{
    width: 70%;
  }
}