.passwordContainer{
    margin-top: 30px;
}

.passwordContainer > label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.password{
    width: 350px;
    height: 42px;
    background: #FAFAFA;
    border-radius: 2px;
    padding: 0px 20px;
    outline: none;
}