

.passwordContainer > label{
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.password{
    width: 350px;
    height: 42px;
    background: #FAFAFA;
    border-radius: 2px;
    padding: 0px 20px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .passwordContainer{
        width: 90%;
    }
    .password{
        width: 100%;
    }
}