.loginCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #022655;
    width: 100%;
    height: 100%;
}

.loginCon > h5{
    font-style: normal;
    font-weight: 10;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
