.container textarea {
  padding: 10px 10px;
  border-radius: var(--app-border-radius-sm);
  background-color: #fafafa;
  color: #838181;
}

@media screen and (min-width: 400px) {
  .container textarea {
    padding: 10px 20px;
  }
}

.container textarea:focus {
  outline: none;
}
