.container {
  /* height: calc(100vh - 70px); */
}

.dashboardCon{
  position: relative;
}

.center-con {
  width: 100%;
  overflow-y: auto;
}

.center-con::-webkit-scrollbar {
  width: 7px;
}

.center-con::-webkit-scrollbar-track {
  background: #ececec;
}

.center-con::-webkit-scrollbar-thumb {
  background: var(--app-primary-blue);
  border-radius: 20px;
}
