.container {
  border-radius: 20px;
  background: #f8fafc;
  height: 190px;
}

.container img {
  max-width: 80%;
  object-fit: contain;
}

.container p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container:hover {
  transform: scale(1.13);
}
