.container {
  border-radius: 20px;
  background: #f8fafc;
  height: 220px;
}

.container img {
  /* max-width: 80%; */
  height: 160px;
  object-fit: contain;
}

.container div {
  /* padding: 15px 20px; */
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.container span {
  /* padding: 15px 20px; */
  /* display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container:hover {
  background: #d6d7d9;
}

.container:hover div {
  color: #fff;
  background-color: var(--app-primary-blue);
}
