.walletBalanceCon {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.walletBalanceCon > div {
  align-items: center;
  justify-content: space-between;
}

.walletButton {
  background: #ececec;
  backdrop-filter: blur(15px);
  border-radius: 100px;
}

.walletAddress {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #022655;
}
