.userDashboardCon {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .userDashboardCon {
    margin-bottom: 0rem;
  }
}

.greeting {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  /* line-height: 69px; */
  color: #393939;
}

.welcome {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  /* line-height: 54px; */
  color: #393939;
}

.dashBoardCarousel {
  background: #022655;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  position: relative;
}

.dashBoardCarousel > div:first-child {
  width: 60%;
  height: 100%;
  padding: 20px 0;
  padding-left: 15px;
}

@media screen and (min-width: 1280px) {
  .dashBoardCarousel > div:first-child {
    width: 70%;
    height: 100%;
    padding: 20px 0;
    padding-left: 15px;
  }
}

.dashBoardCarousel > div > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 20px; */
  color: #ffffff;
}

.dashBoardCarousel > div > h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 15px; */
  color: #ffffff;
  /* margin: 0px; */
}

.dashBoardCarousel > img {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.arrowDown {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 19px 22px 45px rgba(0, 0, 0, 0.1);
}

.activityHistory {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.activityScanIndicator {
  width: 41px;
  height: 41px;
  background: #022655;
  border-radius: 10px;
}

.svgPath {
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .dashBoardCarousel {
    padding-left: 15px;
    padding: 20px;
  }

  .dashBoardCarousel > div {
    width: 185px;
    padding: 20px 0;
  }

  .dashBoardCarousel > div > h1 {
    font-size: 14px;
  }

  .dashBoardCarousel > div > h6 {
    font-size: 10px;
  }

  .dashBoardCarousel > img {
    right: 20px;
  }

  .greeting {
    display: none;
  }

  .arrowDown {
    display: none;
  }

  .activityScanIndicator {
    display: none;
  }
  .activityHistory {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.circularButton {
  position: fixed;
  width: 58px;
  height: 57px;
  right: 1rem;
  bottom: 150px;
  background: var(--app-primary-blue);
  border-radius: 33px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 100;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  .circularButton {
    right: 2rem;
  }
}

.circularButton > svg {
  fill: #fff;
  height: 50%;
}

.circularButton > svg > path {
  fill: #fff;
}
