.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  z-index: var(--modal-z-index);
}

.sub-container {
  position: relative;
  width: 90%;
  height: 70%;
  background: #fff;
}

.sub-container svg {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
}

.sub-container > div:last-of-type {
  position: sticky;
  bottom: -1px;
  width: 100%;
}

.sub-container > div:last-of-type h1 {
  font-size: 20px;
  color: #fff;
}

.footer-text-bg-original {
  background: var(--app-primary-green);
}

.footer-text-bg-counterfeit {
  background: #fa5f1c;
}

.footer-text-bg-expired {
  background: #f8dc39;
}

@media screen and (min-width: 768px) {
  .sub-container {
    overflow-y: auto;
    width: 520px;
    height: 65vh;
  }

  .sub-container svg {
    position: sticky;
    margin-left: auto;
    margin-right: 10px;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
}

.close-icon:hover {
  transform: scale(1.2, 1.2);
}

.modal-body {
  padding: 30px;
  height: 65vh;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .modal-body {
    padding: 10px 30px 30px 30px;
  }
}
