.container .inputs label {
  color: #fff;
  display: block;
}

.container .inputs input {
  width: 100%;
  border-radius: 2px;
  color: var(--app-grey);
}

.success-toast {
  background-color: var(--app-primary-green);
  color: #fff;
}
