.container button {
  background: var(--app-primary-blue);
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.upload-image {
  background: #f8fafc;
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 20px;
}

.upload-image input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
