.sideBarCon {
  width: 100%;
  max-width: 140px;
  padding: 2.5rem 0rem;
  min-height: 100vh;
  background: #f9f9f9;
}

.nduLogo {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nduLogo {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
  .sideBarCon {
    max-width: 187px;
    padding: 2.5rem 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .sideBarCon {
    max-width: 250px;
    padding: 2.5rem 3rem;
  }
}

.sideBarCon > ul {
  margin-top: 50px;
  padding: 0px;
}

.sideBarCon > ul > a > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

.sideBarCon > ul > a > li > h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #7987a5;
  margin: 10px 0px 0px 0px;
}

.iconCon {
  background: #eceff7;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.iconCon:hover {
  background: #022655;
  box-shadow: 0px 10px 20px rgba(88, 92, 229, 0.25);
  color: #1c295d;
}

.iconCon:hover .sideBarIcon > path {
  fill: white;
}

.iconCon:hover .sideBarIcon > rect {
  fill: white;
}
