.main {
}

section.intro {
  overflow-y: hidden;
  background-color: #e4effd;
  max-height: 700px;
  background-color: #e4effd;
}

section.intro div.text-content {
  position: relative;
  z-index: 2;
}

section.intro h1 {
  line-height: 3rem !important;
  color: var(--app-primary-blue);
  font-weight: 500;
}

section.intro p {
  line-height: 1.5rem !important;
  font-weight: 400;
}

.green-bg {
  background-color: var(--app-primary-green);
  padding: 0px 10px;
}

.intro-image-div {
  position: relative;
  top: -20px;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .intro-image-div {
    top: -60px;
  }
}

.intro-image-div img {
  margin: 0 auto;
}

section.cases h2 {
  line-height: 3rem !important;
  color: var(--app-primary-blue);
  font-weight: 500;
}

.globe-img-container img {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

section.why-ndu {
  background-color: var(--app-primary-blue);
  height: auto;
}

@media screen and (min-width: 1600px) {
  section.why-ndu > div {
    max-width: 1536px;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0px auto;
  }
}

section.why-ndu p {
  line-height: 2rem;
}

section.why-ndu .landing-image-2-container img {
  max-height: 500px;
  position: relative;
  left: -2.5rem;
}

@media screen and (min-width: 768px) {
  section.why-ndu .landing-image-2-container img {
    max-height: 500px;
    position: relative;
    left: 0rem;
  }
}

section.why-ndu .landing-image-3-container {
  position: absolute;
  right: 0px;
  top: -5px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  section.why-ndu .landing-image-3-container {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
