section.intro {
  overflow-y: hidden;
  background-color: #e4effd;
  max-height: 700px;
  background-color: #e4effd;
}

.headers {
  color: var(--app-primary-blue);
  font-weight: 500;
}

section.intro div.headers {
  position: relative;
  z-index: 2;
}

section.intro h1 {
  line-height: 3rem !important;
  color: var(--app-primary-blue);
  font-weight: 500;
}

section.intro p {
  line-height: 1.5rem !important;
  font-weight: 400;
}

.green-bg {
  background-color: var(--app-primary-green);
  padding: 0px 10px;
}

.intro-image-div {
  position: relative;
  top: -20px;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .intro-image-div {
    top: -60px;
  }
}

.intro-image-div img {
  margin: 0 auto;
}

section.cases h2 {
  line-height: 3rem !important;
  color: var(--app-primary-blue);
  font-weight: 500;
}

.globe-img-container img {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

section.why-ndu {
  background-color: var(--app-primary-blue);
  height: auto;
}

@media screen and (min-width: 1600px) {
  section.why-ndu > div {
    max-width: 1536px;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0px auto;
  }
}

section.why-ndu p {
  line-height: 2rem;
}

section.why-ndu .landing-image-2-container img {
  max-height: 500px;
  position: relative;
  left: -2.5rem;
}

@media screen and (min-width: 768px) {
  section.why-ndu .landing-image-2-container img {
    max-height: 500px;
    position: relative;
    left: 0rem;
  }
}

section.why-ndu .landing-image-3-container {
  position: absolute;
  right: 0px;
  top: -5px;
  width: 130px;
}

@media screen and (min-width: 768px) {
  section.why-ndu .landing-image-3-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
  }
}

section.drugs-could-be-there {
  background-color: var(--app-blue-fade);
}

section.drugs-could-be-there h2 {
  line-height: 3rem !important;
  color: var(--app-primary-blue);
  font-weight: 500;
}

section.drugs-could-be-there p {
  line-height: 2rem;
}

.green-underscore {
  border-bottom: 4px solid var(--app-primary-green);
}

.special-bullet-list li:before {
  content: "";
  background-color: #ccdfff;
  border-radius: 50%;
  position: absolute;
  top: -21px;
  left: -9.5px;
  height: 18px;
  width: 18px;
}

.special-bullet-list li {
  padding-bottom: 1rem;
  padding-left: 1.4rem;
  position: relative;
  margin: 0rem 0rem 1.5rem 0.5rem;
}

.special-bullet-list li:not(.special-bullet-list li:last-child) {
  border-left: 1px dashed #000;
}

.special-bullet-list li > span {
  position: relative;
  top: -24px;
}

.paragraph {
  line-height: 2rem;
}
