.container {
  max-width: 800px;
  width: 100%;
  background: #ffffff;
  border-radius: var(--app-border-radius-sm);
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  box-shadow: 0px 0px 10px #0000001a;
}

.container input {
  max-height: 45px;
  font-style: normal;
  line-height: 60px;
  background-color: transparent;
  outline: none;
  padding: 0px 10px;
  width: 100%;
}
