.inputWithButton{
    width: 515px;
    height: 71px;
    background: #FFFFFF;
    border-radius: 15px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 25px;
    box-shadow: 0px 0px 10px #0000001a;

}

.inputWithButtonInput{
    width: 60%;
    font-style: normal;
    font-size: 18px;
    line-height: 60px;
    background-color: transparent;
    outline: none;
}