@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-primary-blue: #022655;
  --app-blue-fade: #ebf3ff;
  --app-blue-light: #f8fafc;
}

* {
  padding: 0px;
  margin: 0px;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}
