.rightContainer {
  /* border: 1px solid green; */
  height: 100vh;
  width: 438px;
  padding: 0px 3rem;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .rightContainer {
    padding: 0px 4rem;
  }
}

.walletBalanceCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.walletButton {
  background: #ececec;
  backdrop-filter: blur(15px);
  border-radius: 100px;
  height: 40px;
  width: 203px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.walletAddress {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #022655;
}

.rightContainer > .rightConDown > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #022655;
}

.rightContainer > .rightConDown > p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #1a1919;
  width: 75%;
}

.nduGreeting {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 69px;
  color: #393939;
}

/* .welcome{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #393939;
  } */

.rightContainer > .rightConDown > .iconCard {
  width: 196px;
  height: 192px;
  background: #f3f3f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .rightContainer {
    width: 100%;
    height: 10vh;
    justify-content: center;
    position: absolute;
    top: 0px;
  }

  .walletBalanceCon {
    width: 90%;
    margin-top: unset;
  }

  .rightConDown {
    display: none;
  }

  .walletBalance {
    display: none;
  }

  .walletButton {
    width: 121px;
  }
}
