.rightContainer {
  min-height: 100vh;
  max-width: 380px;
  padding: 0px 3rem;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .rightContainer {
    max-width: 440px;
  }
}

@media screen and (min-width: 1600px) {
  .rightContainer {
    max-width: 600px;
  }
}

.walletBalanceCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.walletBalanceCon * {
  transition: all 0.5s ease-in-out;
}

.disconnect-container {
  cursor: pointer;
  position: relative;
}

.disconnect-container .arrow-down-icon {
  transform: rotate(0deg);
}

.disconnect-container.active .arrow-down-icon {
  transform: rotate(180deg);
}

.disconnect-btn {
  transition: all 0.8s ease-in-out;
  position: absolute;
  z-index: 0;
  top: 0.5px;
  opacity: 0;
  border-radius: 25px 25px 15px 15px;
}

.disconnect-btn span {
  text-align: center;
  transition: all 0.5s ease-in-out;
  display: block;
}

.disconnect-container.active .disconnect-btn {
  opacity: 1;
}

.disconnect-btn span {
  margin-top: 0rem;
}

.disconnect-container.active .disconnect-btn span {
  margin-top: 2.7rem;
}

.walletButton {
  position: relative;
  z-index: 1;
  background: #ececec;
  backdrop-filter: blur(15px);
  border-radius: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.walletAddress {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: var(--app-primary-blue);
}

.rightContainer > .rightConDown > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--app-primary-blue);
}

.rightContainer > .rightConDown > p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #1a1919;
}

.nduGreeting {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 69px;
  color: #393939;
}

.rightContainer .rightConDown .iconCard {
  width: 196px;
  height: 192px;
  background: #f3f3f3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
